<div class="panel callout">
	Mua bán đồ cũ chưa bao giờ dễ dàng như vậy.
	<br />
	Đăng tin, theo dõi và quản lý tin bạn đã đăng
	<br />
	Đề xuất giá và mua được món hàng với giá tốt nhất theo ý bạn
	<br />
	Và nhiều tiện ích hơn nữa...
</div>