// Place all the styles related to the BidMessages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message-info{
  font-size: smaller;
  font-style: italic;
  color: gray;
}

.owner{
  background-color: #FFFDBA;
}
