<% if user_signed_in? %>
	<div class="row">
		<div class="large-2 columns">
			<%= link_to "Đăng tin", "#" %>
		</div>
		<div class="large-2 columns">
			<%= link_to "Tìm kiếm", "#" %>
		</div>
	</div>
<% else %>
<% end %>
